.gulp-scss-cache/
.sass-cache/
.vs/
.idea/

bin/
dist/
node_modules/
obj/
target/
typings/

tomcat/*
!tomcat/conf
tomcat/conf/*
!tomcat/conf/Catalina
!tomcat/conf/server.xml
!tomcat/conf/context.xml

*.iml
*.csproj
*.csproj.user
*.sln
*.config
