.gulp-scss-cache/
.sass-cache/
.vs/
.idea/

bin/
dist/
node_modules/
obj/
target/
typings/

rc-tomcat/*
!rc-tomcat/conf
!rc-tomcat/pom.xml
rc-tomcat/conf/*
!rc-tomcat/conf/Catalina
!rc-tomcat/conf/server.xml
!rc-tomcat/conf/context.xml

*.iml
*.csproj
*.csproj.user
*.sln
*.config
